
<div class="post-it">
  <h1>Task List</h1>  <p id="add"><%=link_to("Add new task", new_path) %></p>
  <p>
  <% @tasks.each do |task| %>

    <% if task.completed == true %>
        <h2><%= link_to("✔︎#{task.title}", show_path(task[:id])) %></h2>
      <%else%>
        <h2><%= link_to("❏#{task.title}", show_path(task[:id])) %></h2>
      <%end %>
  </p>

  <p class="delete-button"><%= button_to "Delete Task", { action: "destroy", id: task.id },
                                  method: :delete, data: { confirm: "Are you sure?" } %></p>
  <% end %>

</div>
<!-- <button type="submit"> Delete a Task</button> -->
<!-- <p>Find me in app/views/tasks/index.html.erb</p> -->
