<h1>Add a Task</h1>
<p id="full-list" ><%=link_to("Task List", index_path) %></p>

<form name ="new-task" action="create" method ="post">

  <label for="title"> Title:</label>
  <input type="text" name = "title" id="title">

  <label for="description">Description:</label>
  <textarea type="text" name = "description" id="description"></textarea>

  <!--  This will allow you to override the csrf and submit blog posts. The purpose of the hidden field is that you don't want to the user to have to see all of this extra stuff-->
  <%= tag(:input, :type => "hidden",
  :name => request_forgery_protection_token.to_s,
  :value => form_authenticity_token) %>

  <button type="submit">Submit</button>

</form>


<!-- <p>Find me in app/views/tasks/new.html.erb</p> -->
