<article>
  <h2> <%= @task_of_interest[:title]%> </h2>

  <h3> <%= @task_of_interest[:description] %></h3>

<p>

 <% if @task_of_interest[:completed] == true %>
    ✔︎ This task was completed on <%=@task_of_interest[:updated_at]%>
   <%else%>
    ❏This task is NOT completed yet
      <%= button_to "Complete Task", { action: "update", id: @task_of_interest.id, task: { completed: true} }, method: :patch %>
   <%end %>
</p>

</article>
<!-- <p>Find me in app/views/tasks/show.html.erb</p> -->
