<article>
  <h2> <%= @task_of_interest[:title]%> </h2>

  <h3> <%= @task_of_interest[:description] %></h3>

<p>

 <% if @task_of_interest[:completed] == true %>
    ✔︎ This task was completed on <%=@task_of_interest[:completed_at]%>

   <%else%>
    ❏This task is NOT completed yet
   <%end %>
</p>

</article>
<!-- <p>Find me in app/views/tasks/show.html.erb</p> -->
